@model List<ResultsBlogDto>
@{
    ViewData["Title"] = "Bloglarım";
    Layout = "~/Areas/Teacher/Views/TeacherLayout/Index.cshtml";
}


@{
	int count = 0;
}

<table class="table table-hover">

	<tr>
		<th>#</th>
		<th>Resim</th>
		<th>Blog Başlığı</th>
		<th>Tarih</th>
		<th>Kategori</th>

		<th></th>
	</tr>
	@foreach (var item in Model)
	{
		count++;
		<tr>
			<th>@count</th>
			<td><img src="@item.ImageURL" style="height:75px; width:75px"></img></td>
			<td>@item.Title</td>
			<td>@item.BlogDate.ToShortDateString()</td>
			<td>@item.BlogCategory.Name</td>

			<td>



				<a asp-action="DeleteBlog" asp-controller="MyBlog" asp-area="Teacher" asp-route-id="@item.BlogID" class="btn btn-outline-danger">Sil </a>
				<a asp-action="UpdateBlog" asp-controller="MyBlog" asp-area="Teacher" asp-route-id="@item.BlogID" class="btn btn-outline-info">Güncelle </a>




			</td>

		</tr>


	}
</table>

<br />
<a asp-action="CreateBlog" asp-controller="MyBlog" asp-area="Teacher" class="btn btn-outline-primary">Blog  Ekle</a>
